@charset "UTF-8";

body {
	background-color: #FFF;
	padding: 50px;
	padding-top:50px;
	padding-bottom: 50px;
}

.container {
	width: 100%;
}

.navbar-default {
    background-color: #0275d8;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-brand {
	font-weight: 400;
	font-size: 30px;
	padding-left: 30px;
	line-height: none;
}

.small, small {
    font-size: 60%;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #FFEB3B;
    background-color: transparent;
}

.table th, .table td {
    border-top: none !important;
    border-left: none !important;
}

.table tbody tr td.info {
		background-color: #5bc0de !important;
		color: white;
}

.text-progress-bar {
	float:left;
	padding-left: 5px;
}

h1 {
	margin: 0px;
	margin-top: 0px;
	padding: 10px;
	overflow: auto;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	font-family: 'Noto Sans', sans-serif;
	color: white;
	background-color: #0275d8;
	border-radius: 4px;
}

#Foto {
	width: 100px;
	border-radius: 50%;
	float: right;
	-webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
}

#fotonavbar {
	width: 75px;
	border-radius: 50%;
	float:left;
	margin: 10px;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.6);
	box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.6);
}

h2 {
	margin: 0px;
	padding: 5px;
	padding-left: 15px;
	overflow: auto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;
	color: white;
	background-color: #0275d8;
	border-radius: 4px;
}

p  {
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	font-family: 'Noto Sans', sans-serif;
	color: #ffffff;
	text-decoration: none;
	letter-spacing: 0px;
	word-spacing: 0px;
	line-height: 150%;
	text-indent: 0px;
	margin-top: 40px;
	padding-bottom: 0px;
	width: 800px;
}

a {
	font-family: 'Noto Sans', sans-serif;
	color: blue;
	text-decoration: none;
	opacity: 1;
	-webkit-transition-property: color, border-bottom;
	-webkit-transition-duration: 1s, 1s;
}

a:visited {
	color: #FFEB3B;
}

a:hover {
	color: #FFEB3B;
	text-decoration: none;
	opacity: 1;
}
a:active {
	color: #FFEB3B;
}

.icon-link {
	font-family: 'Noto Sans', sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	opacity: 1;
	-webkit-transition-property: color, border-bottom;
	-webkit-transition-duration: 1s, 1s;
}

.icon-link:visited {
	color: #FFEB3B;
}

.icon-link:hover {
	color: #FFEB3B;
	text-decoration: none;
	opacity: 1;
}
.icon-link:active {
	color: #FFEB3B;
}
