@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?afg083');
  src:  url('fonts/icomoon.eot?afg083#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?afg083') format('truetype'),
    url('fonts/icomoon.woff?afg083') format('woff'),
    url('fonts/icomoon.svg?afg083#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  float: right;
  padding-right: 15px;
}

/*.icon-subsection {
  /* use !important to prevent issues with browser extensions that change fonts
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 20px;
  text-transform: none;
  color: #0275d8;
  float: right;
  padding-right: 10px;
}*/

.icon-blue {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  float: right;
  color: #0275d8;
}

.icon-blue-left {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #0275d8;
  padding-right: 3px;
}
